<% provide(:title, "About") %>
<% provide(:path, @view_renderer.lookup_context.find_template(@virtual_path).identifier.to_s) %>

<section class="container">
  <h1>About</h1>
  <p class="lead">Additional information about the website</p>
  <hr>
  <p>Luber began as a class project at UC Santa Barbara for CS 291: "Scalable Internet Services", taught by the esteemed and handsome professor Dr. Bryce Boe.</p>
</section>