<% provide(:title, "About") %>

<h1>About</h1>

<p>Luber began as a class project at UC Santa Barbara for CS 291: "Scalable Internet Services", taught by the esteemed and handsome professor Dr. Bryce Boe.</p>


<p>Find me in app/views/static_pages/about.html.erb</p>
