<% provide(:title, "Contact") %>

<h1>Contact</h1>

<p>Please send questions about employment or press to <a href="mailto:contact@luber.com">contact@luber.com</a>.</p>

<p>Please send notices about litigation or cease-and-decist letters to <a href="mailto:shred@luber.com">contact@luber.com</a>.</p>

<p>Find me in app/views/static_pages/contact.html.erb</p>
