<% provide(:title, "Contact Us") %>
<% provide(:path, @view_renderer.lookup_context.find_template(@virtual_path).identifier.to_s) %>

<section class="container m-top">
  <h1>Contact Us</h1>
  <p class="lead">Drop us a line below</p>
  <hr>
  <p>Please send questions about employment or press to <%= link_to 'contact@luber.com', 'mailto:contact@luber.com' %>.</p>
  <p>Please send notices about litigation or cease-and-decist letters to <%= link_to 'shred@luber.com', 'mailto:shred@luber.com' %>.</p>
  <p>For website errors, please open an issue on <%= link_to 'GitHub', 'https://github.com/scalableinternetservices/Luber/issues', target: '_blank'%>.</p>
</section>