<% provide(:title, "FAQ") %>

<h1>FAQ</h1>

<h2>What is Luber?</h2>

<p>Luber is a car-sharing app whose name is legally distinct from "Lyft" and "Uber".</p>

<h2>Is it legal?</h2>

<p>Please send notices about litigation or cease-and-decist letters to <a href="mailto:shred@luber.com">contact@luber.com</a>.</p>

<p>Find me in app/views/static_pages/faq.html.erb</p>
