<% provide(:title, "Home") %>

<section class="jumbotron jumbotron-fluid" id="hero-background">
  <div class="container">
    <div id="hero-content">
      <h1>Introducing, Luber</h1>
      <p>The easy way to do long-distance rideshare</p>
    </div>
  </div>
</section>

<hr>

<p>Find me in app/views/static_pages/home.html.erb</p>