<% provide(:title, "Home") %>

<ul>
    <li><a href="rental_posts">View car rentals</a></li>
    <li><a href="rental_posts/new">Post a new rental</a></li>
    <li><a href="users/new">Sign in</a></li>    
</ul>

<hr>

<p>Find me in app/views/static_pages/home.html.erb</p>
