tmp/**/*
log/*
config/database.yml
config/environments/production.rb
.cache
.DS_Store
*.sqlite3

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
