// Scaffolding
// -------------------------

html, body {
  color: $off-black;
  background-color: $off-white;
  font-size: 1rem;
}

html {
  position: relative;
  min-height: 100%;
}

section {
  margin-top: $spacer * 1.5;
}

main {
  margin-bottom: 29vh;
}

hr {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

// Header
// -------------------------

header {
  position: relative;
  background-color: white;
  
  .navbar {
    border: 0;

    .navbar-brand {
      padding: 0;

      img {
        display: inline-block;
        vertical-align: top;
        max-height: 50px;
      }
    }
  }
}

// Footer
// -------------------------

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: $darker-accent;

  .footer-nav-wrapper {
    padding-top: $spacer * 1.5;
    padding-bottom: $spacer * 1.5;

    a, p, h4 {
      color: $off-white;
    }

    a:hover,
    a.hover {
      color: $light-gray;
      text-decoration: none;
    }

    h4 {
      margin-bottom: $spacer;
    }

    .list-group {
      border-left: 2px solid $light-accent;
      padding-left: $spacer * 1.5;

      .list-group-item,
      .list-group-item:first-child,
      .list-group-item:last-child {
        font-size: 1rem;
      }
    }
  }
}

// Content Areas
// -------------------------

.container-fluid {
  padding: 0;
}

.jumbotron {
  margin-top: 0;
  margin-bottom: 0;
}

.header-nav-wrapper,
.debug-wrapper,
.footer-nav-wrapper,
.banner {
  margin-top: 0;
  box-shadow: 0 0 6px $material-shadow;
}

.header-nav-wrapper {
  position: relative;
}

.banner {
  margin-bottom: 0;
  padding-top: $spacer * 2.5;
  padding-bottom: $spacer * 2;
  color: white;
  background: $darker-accent;
}

.alert-wrapper {
  position: absolute;
  width: 100%;
  overflow-y: hidden;
  max-height: 130px;
  margin-top: 0;
  z-index: 10;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  .alert {
    width: 100%;
    padding-top: 0.55rem;
    padding-bottom: 0.5rem;
    border-radius: 0;

    .fa {
      cursor: pointer;
    }

    button.focus,
    button:focus {
      outline: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }

    .close {
      opacity: 0.3;
    }
  }
}

.alert-wrapper.closed {
  max-height: 0;
}

.debug-wrapper {
  margin-top: ($spacer * 3);
  padding: ($spacer * 0.5);
  color: black;
  background-color: $debug;

  h4 {
    padding-top: $spacer;
    padding-bottom: $spacer;
    text-decoration: underline; 
  }

  .debug-entry {
    margin: ($spacer * 1.5) 0;
    padding: ($spacer * 0.75) 0 ($spacer * 0.75) ($spacer * 1.5);
    border-left: 2px solid black;
  }
}

// Text
// -------------------------

p {
  z-index: 1;
  margin: 0 0 0.6rem;
  line-height: 1.4;
}

a {
  color: $primary;
}

a:hover,
a.hover {
  color: $darker-accent;
  text-decoration: none;
}

pre {
  margin-bottom: 0;
}

// Buttons
// -------------------------

.btn {
  cursor: pointer;
}

.btn-outline-base {
  color: $primary;
  background-color: white;
  border-color: $primary;
}

.btn-base,
.btn-outline-base.hover,
.btn-outline-base:hover {
  color: white;
  background-color: $primary;
  border-color: $primary;
}
 
.btn-base.hover,
.btn-base:hover {
  color: white;
  background-color: $dark-accent;
  border-color: $darker-accent;
}

.btn-base.active,
.btn-base:active,
.btn-base.focus,
.btn-base:focus,
.btn-outline-base.active,
.btn-outline-base:active,
.btn-outline-base.focus,
.btn-outline-base:focus {
  color: white;
  background-color: $darker-accent;
  border-color: $light-accent;
  box-shadow: 0 0 0 3px $primary-shadow;
}

a.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

// Pagination
// -------------------------

.pagination {
  display: flex;
  margin-bottom: 0;
  justify-content: space-between;

  a.active, 
  a:active,
  a.focus, 
  a:focus {
    color: white;
    background-color: $darker-accent;
    border-color: $light-accent;
    box-shadow: 0 0 0 3px $primary-shadow;
  }

  p {
    margin: 0;
    align-self: center;
    color: $dark-gray;
  }
}

// Misc
// -------------------------

.fa {
  margin-left: $spacer * 0.25;
  margin-right: $spacer * 0.5;
}

.card-body {
  .col-auto {
    flex-shrink: 1;
  }
}

.card-header {
  color: white;
  background: linear-gradient(var(--angle), $primary, $secondary);
}

.list-group-item,
.list-group-item:first-child,
.list-group-item:last-child {
  margin-bottom: 0.4rem;
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 1.2rem;
}

.list-group-item > * {
  display: inline-block;
  margin-bottom: 0;
}

.form-control {
  color: $off-black;
}

.form-control.focus,
.form-control:focus {
  border-color: $light-accent;
  box-shadow: 0 0 0 0.2rem $primary-shadow;
}

.grow-cols {
  .col-6 {
    display: flex;
    flex-direction: column;

    .card {
      flex-grow: 1;

      .card-body {
        display: flex;
        flex-direction: column;

        .list-group {
          flex-grow: 1;

          .row {
            flex-grow: 1;
          }
        }

        .card-buttons {
          margin-top: auto;
          align-self: flex-end;
        }
      }
    }
  }
}

.badge-tag {
  margin-left: 3px;
  margin-right: 3px;
  border: 2px solid black;
}

.account-access-link {
  display: block;
  margin-top: $spacer * 0.5;
}

.date-select {
  display: inline-block;
  width: auto;
}

.year-select {
  display: inline-block;
  width: 100%;
}