// Scaffolding
// -------------------------

html, body {
  background-color: $light-base;
  font-size: 1rem;
}

html {
  position: relative;
  min-height: 100%;
}

main {
  margin-top: 30px;
}

hr {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

// Text
// -------------------------

p {
  z-index: 1;
  margin: 0 0 10px;
  line-height: 1.4;
}

a {
  color: $primary;
}

a:hover,
a.hover {
  color: $darker-accent;
  text-decoration: none;
}

<<<<<<< HEAD
=======
// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

.form-control.focus, 
.form-control:focus {
  //border-color: rgba(79, 156, 94, 0.5);
}

>>>>>>> ebee523753af0f45f15f0907bb4951807733a89c
// Content Areas
// -------------------------

.container-fluid {
  padding: 0;
}

<<<<<<< HEAD
=======
.col-sm-1 {
  padding-left: 0;
  padding-right: 0;
}

>>>>>>> ebee523753af0f45f15f0907bb4951807733a89c
.jumbotron {
  margin-bottom: 0;
}

// Header
// -------------------------

header {
  position: relative;
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);

  .nav-wrapper {
    .navbar {
      border: 0;

      .navbar-brand {
        padding: 0;

        img {
          height: 50px;
        }
      }

      .nav-link {
        padding-left: 14px;
        padding-right: 14px;
      }
    }
  }
}

// Footer
// -------------------------

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: $darker-accent;

  .debug-wrapper {
    color: black;
    background-color: $debug;
    padding-top: 20px;
    padding-bottom: 20px;

    h4 {
      padding-bottom: 10px;
      text-decoration: underline; 
    }

    .debug-entry {
      margin: 20px 0px;
      padding: 10px 0px 10px 20px;
      border-left: 2px solid black;

      pre {
        margin-bottom: 0;
      }
    }
  }

  .footer-nav-wrapper {
<<<<<<< HEAD
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
=======
>>>>>>> ebee523753af0f45f15f0907bb4951807733a89c
    padding-top: 16px;
    padding-bottom: 16px;

    a {
      color: $light-base;
    }

    a:hover,
    a.hover {
      color: $dark-base;
      text-decoration: none;
    }

    p {
      font-size: 1.3rem;
      color: $light-base;
    }

    ul {
      border-left: 2px solid $light-accent;
    }

    li {
      list-style-type: none;
      margin-top: 6px;
      margin-bottom: 6px;
    }

    .footer-entry {
      font-size: 1rem;
    }
  }
}

// Buttons
// -------------------------

.btn {
  cursor: pointer;
}

.btn-base {
  color: white;
  background-color: $primary;
  border-color: $primary;
}
 
.btn-base.hover, 
.btn-base:hover {
  color: white;
  background-color: $dark-accent;
  border-color: $darker-accent;
}

.btn-base.active, 
.btn-base:active {
  color: white;
  background-color: $darker-accent;
  border-color: $light-accent;
}

.btn-base.active, 
.btn-base:active,
.btn-base.focus, 
.btn-base:focus {
  color: white;
  box-shadow: 0 0 0 3px $primary-shadow;
}

.btn-link {
  //color: #557c6f;
}

.btn-link.active, 
.btn-link:active, 
.btn-link.hover, 
.btn-link:hover, 
.btn-link.focus, 
.btn-link:focus {
  //color: #4f9c5e;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 4px;
}