// Colors
// -------------------------

$primary: rgba(120, 80, 152, 1.0);
$secondary: rgba(152, 80, 110, 1.0);

$light-accent: rgba(179, 147, 204, 1.0);
$dark-accent: rgba(93, 78, 117, 1.0);
$darker-accent: rgba(74, 56, 87, 1.0);

$primary-shadow: rgba(120, 80, 152, 0.5);
$material-shadow: rgba(0, 0, 0, 0.9);
$object-shadow: rgba(0, 0, 0, 0.5);

$light-gradient: rgba(179, 147, 204, 0.85);
$secondary-gradient: rgba(152, 80, 110, 0.85);

$light-base: rgba(247, 247, 247, 1.0);
$dark-base: rgba(205, 205, 205, 1.0);
$darker-base: rgba(100, 100, 100, 1.0);

$debug: rgba(205, 75, 75, 1.0);