<% if target.errors.any? %>
  <div>
    <div class="alert alert-danger text-center">
      <h5 class="mb-0">The form contained <%= pluralize(target.errors.count, 'error') %>...</h5>
    </div>
    <ul>
      <% target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <hr>
<% end %>