<!DOCTYPE html>
<html>
<head>
    <title>Luber: Car-sharing app</title>
</head>
<body>
<h1>Luber</h1>
<!-- <img src="assets/images/luber-logo/luber-logo.jpg"> -->

<img src="luber-logo.jpg"><br>

<a href="rental_posts">View car rentals</a>
<br>
<a href="rental_posts/new">Post a new rental</a>
<br>
<a href="users/new">Sign in</a>
</body>
</html> 