<% provide(:title, "Create A Rental Post") %>
<% provide(:path, @view_renderer.lookup_context.find_template(@virtual_path).identifier.to_s) %>

<section class="container-fluid banner">
  <div class="container text-center">
    <h1>Create A Rental Post</h1>
  </div>
</section>
<section class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-7">
      <%= render 'form', rental: @rental, cars: @cars %>
    </div>
  </div>
</section>