<% provide(:title, "Contact Us") %>
<% provide(:path, @view_renderer.lookup_context.find_template(@virtual_path).identifier.to_s) %>

<section class="container-fluid banner">
  <div class="container">
    <h1>Contact Us</h1>
    <p class="lead">How may I direct your call?</p>
  </div>
</section>
<section class="container m-top">
  <h2>Drop us a line below @</h2>
  <hr>
  <%= link_to 'contact@luber.com', 'mailto:contact@luber.com', class: 'lead' %>
  <p class="mb-4">For employment or press-related matters</p>
  <%= link_to 'shred@luber.com', 'mailto:shred@luber.com', class: 'lead' %>
  <p class="mb-4">When serving litigation notices or cease-and-decist letters</p>
  <%= link_to 'Open an issue on GitHub', 'https://github.com/scalableinternetservices/Luber/issues', class: 'lead', target: '_blank'%>
  <p class="mb-4">If reporting technical issues with the site</p>
</section>