.rental-arrow-icon {
  margin-left: $spacer * 0.5;
}

#map-start,
#map-end {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40vh;
  width: 95%;
  box-shadow: -1px 1px 4px $object-shadow;
}

.no-section-content {
  display: flex;
  flex-direction: column;

  hr {
    margin-top: 0.25rem;
  }

  .no-map {
    margin-top: ($spacer * 4);
    display: flex;
    align-items: center;
    text-align: center;
    font-style: italic;
    flex-grow: 1;

    div {
      flex-grow: 1;
      top: 50%;
      margin-bottom: 1.75rem;
    }
  }
}
