// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// -------------------------
//
// Home (/) CSS
//
// -------------------------

main {
  margin-top: 0;
  margin-bottom: 64px;
}

.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
}

#hero-background {
  background-image: linear-gradient(to bottom right, rgba(120, 80, 152, 0.5), rgba(152, 80, 110, 0.5)), url(/hero.png);
}