.gravatar {
  box-shadow: -2px 2px 3px $material-shadow;
}

#profile-nav {
  margin-top: 0;
  border-top: 2px solid $light-gray;

  .nav-tabs {
    border-bottom: none;

    .nav-item {
      margin-top: -2px;
    }

    .nav-link {
      border: 1px solid transparent;
      border-top-left-radius: 0rem;
      border-top-right-radius: 0rem;
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    .nav-link.active {
      color: white;
      background-color: $darker-accent;
      border-color: $darker-accent $light-gray $light-gray;
    }

    .nav-link.disabled {
      border: none;
    }

    .nav-link:focus, .nav-link:hover {
      border-color: $light-gray;
    }

    .nav-link.active:focus, .nav-link.active:hover {
      border-color: $darker-accent $light-gray $light-gray;
    }
  }
}

#users-settings {
  .list-group-item {
    display: flex;
    align-items: center;

    span {
      margin-left: auto;
    }
  }
}