/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Colors
// -------------------------

$primary: #785098;
$secondary: #98506E;
$dark-accent: #4A3857;
$light-accent: #B393CC;
$light-base: #F7F7F7;
$dark-base: #CDCDCD;

// Scaffolding
// -------------------------

html, body {
  background-color: $light-base;
  font-size: 1rem;
}

html {
  position: relative;
  min-height: 100%;
}

main {
  margin-top: 30px;
  margin-bottom: 94px;
}

hr {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

// Text
// -------------------------

p {
  z-index: 1;
  margin: 0 0 10px;
  line-height: 1.4;
}

a {
  color: $primary;
}

a:hover,
a.hover {
  color: $dark-accent;
  text-decoration: none;
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

.form-control.focus, 
.form-control:focus {
  //border-color: rgba(79, 156, 94, 0.5);
}

// Content Areas
// -------------------------

.container-fluid {
  padding: 0;
}

.col-sm-1 {
  padding-left: 0;
  padding-right: 0;
}

.jumbotron {
  margin-bottom: 0;
}

// Header
// -------------------------

header {
  position: relative;
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);

  .nav-wrapper {
    .navbar {
      border: 0;

      .navbar-brand {
        padding: 0;

        img {
          height: 50px;
        }
      }

      .nav-link {
        padding-left: 14px;
        padding-right: 14px;
      }
    }
  }
}

// Footer
// -------------------------

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $dark-accent;

  .footer-nav-wrapper {
    a {
      color: $light-base;
    }

    a:hover,
    a.hover {
      color: $dark-base;
      text-decoration: none;
    }

    p {
      font-size: 1.3rem;
      color: $light-base;
    }

    ul {
      border-left: 2px solid $light-accent;
    }

    li {
      list-style-type: none;
      margin-top: 6px;
      margin-bottom: 6px;
    }

    .footer-entry {
      font-size: 1rem;
    }
  }
}

// Buttons
// -------------------------

.btn {
  cursor: pointer;
}

.btn-primary {
  //background-color: #4f9c5e;
  //border-color: #4f9c5e;
}

.btn-primary.active, 
.btn-primary:active, 
.btn-primary.hover, 
.btn-primary:hover {
  //background-color: #557c6f;
  //border-color: #354b42;
}

.btn-primary.focus, 
.btn-primary:focus {
  //box-shadow: 0 0 0 3px rgba(79, 156, 94, 0.5);
}

.btn-link {
  //color: #557c6f;
}

.btn-link.active, 
.btn-link:active, 
.btn-link.hover, 
.btn-link:hover, 
.btn-link.focus, 
.btn-link:focus {
  //color: #4f9c5e;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 4px;
}