// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// -------------------------
//
// Home (/) CSS
//
// -------------------------

#page-home {
  main {
    margin-top: 0;
    margin-bottom: 64px;
  }

  .jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
  }

  #hero-logo {
    background-image: linear-gradient(to bottom right, rgba(79, 156, 94, 0.5), rgba(44, 165, 157, 0.5)), url(/images/4.jpg);
  }

  #hero-about {
    background-color: #f7f7f7;

    p {
      margin-top: 2rem;
    }
  }
}