<% provide(:title, "Car") %>
<% provide(:path, @view_renderer.lookup_context.find_template(@virtual_path).identifier.to_s) %>

<section class="container-fluid banner">
  <div class="container">
    <h1>Car</h1>
  </div>
</section>
<p id="notice"><%= notice %></p>
<section class="container m-top card-wrapper">
  <%= render @car %>
</section>