<% provide(:title, "Tags") %>
<% provide(:path, @view_renderer.lookup_context.find_template(@virtual_path).identifier.to_s) %>

<section class="container-fluid banner">
  <div class="container">
    <h1>Tagged Rentals</h1>
  </div>
</section>
<section class="container m-top card-wrapper">
  <% if @cars.length == 0 %>
    <p>Couldn't find any cars with that tag</p>
  <% else %>
    <%= render @cars %>
  <% end %>
</section>
<% if @cars.length > 0 %>
  <section class="container text-right">
    <%= link_to 'Add a new Car', new_car_path, class: 'btn btn-base', role: 'button' %>
  </section>
<% end %>

<td><%# raw tag_links(car.all_tags) %></td>