<div class="card log-entry">
  <div class="card-body">
    <div class="row">
      <div class="col-auto log-icon <%= log.get_action_class %>">
        <%= icon(log.get_action_icon, class: 'mx-auto fa-2x') %>
      </div>
      <div class="col">
        <p class="log-time"><%#
          %><%= log.updated_at.strftime("%l:%M %p") %>
        </p>
        <p class="log-content"><%#
          %><%= log.content %>
        </p>
      </div>
    </div>
  </div>
</div>