<div class="log-entry card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="log-icon <%= log.get_action_class %> col-auto d-flex align-items-center">
        <%= icon(log.get_action_icon, class: 'mx-auto fa-2x') %>
      </div>
      <div class="col">
        <p class="log-time"><%= log.updated_at.strftime("%l:%M %p") %></p>
        <p class="log-content"><%= log.content %></p>
      </div>
    </div>
  </div>
</div>