<section class="container-fluid debug-wrapper">
  <div class="container">
    <h4>Rails Debug</h4>
    <div class="debug-entry">
      <pre>Find me at: <%= yield(:path).sub!(Rails.root.to_s, "") %></pre>
    </div>
    <div class="debug-entry">
      <%= debug(params) %>
    </div>
  </div>
</section>
