<div class="container">
  <div class="row">
    <div class="col-6">
      <p>© 2017 Luber. All rights reserved.</p>
      <p>GitHub</p>
      <p>Issues</p>
    </div>
    <div class="col-6">
      
    </div>
  </div>
</div>